<%- include("../includes/head.ejs") %>

<%- include("../includes/navigation.ejs") %>
<%if(editing){%>
    <h1 style="text-align: center;">Admin Edit Product</h1>
<%}else{%>
  <h1 style="text-align: center;">Admin Add Product</h1>
<%}%>
    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-6">
            <form action="/admin/<%if(editing){%>edit-product<%}else{%>edit-product<%}%>" method="POST">
              <div class="mb-3">
                <label for="input1" class="form-label">Product Title</label>
                <input type="text" class="form-control" name="title" value="<% if(editing){%> <%= product.title%> <% }%>">
              </div>
              <div class="mb-3">
                <label for="input2" class="form-label">ImageUrl</label>
                <input type="text" class="form-control" name="imageUrl" value="<% if(editing) {%> <%= product.imageUrl %> <% } %>">
              </div>
              <div class="mb-3">
                <label for="input3" class="form-label">Description</label>
                <textarea type="text" class="form-control" name="description" cols="5">
                  <% if(editing){ %>
                    <%= product.description %>
                  <%} %>
                </textarea> 
              </div>
              <div class="mb-3">
                <label for="input4" class="form-label">Price</label>
                <input type="text" class="form-control" name="price" value="<% if(editing){ %> <%= product.price %> <% } %>">
              </div>
              <div class="mb-3 text-center">
                <!-- <button type="button" class="btn btn-primary" style="width: 150px;">Add</button>-->
                <%if(editing){ %>
                  <input type="hidden" value="<%=product.id %>" name="productId">
                <%}%>
                <button type="submit" class="btn btn-success" style="width: 150px;">
                  <%if(editing){%>
                    Edit
                  <%}else{%>
                    Add
                  <%}%>
                </button>
              </div> 
            </form>
          </div>
        </div>
      </div>
    

<%- include("../includes/end.ejs") %>